@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  font-size: 1rem;
}

/* Montserrat font for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}

/* Roboto font for text elements */
link, p, div {
  font-family: var(--font-roboto);
}
